.footer {
    background-image: url('../images/san_bay_web.png');
    background-size: cover;
    background-repeat: no-repeat;
    &-title {
        font-size: 18px;
        color: #fff;
        font-family: arial, helvetica, sans-serif;
    }
    &-list {
        li {
            margin: 5px 0;
            position: relative;
            &::before {
                content: '';
                background-image: url('../images/arrow.png');
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: 1;
                width: 15px;
                height: 15px;
            }
            a {
                color: #fff;
                font-size: 16px;
                margin-left: 20px;
            }
        }
    }
    &-top {
        padding: 80px 0;
    }
    &-middle {
        position: relative;
        background-color: #0685AA;
        padding: 40px 0;
        color: #fff;
        a {
            color: #fff;
        }
        &__desc {
            margin-top: 40px;
        }
    }
    &-column {
        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        &__contact {
            width: 70%;
            @media(max-width: 768px) {
                width: 100%;
            }
        }
        @media(max-width:768px) {
            flex-direction: column;
        }
    }
    &-logo {
        width: 30%;
        img {
            width: 100%;
            height: 100%;
            max-width: 300px;
        }
        @media(max-width:768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &-bottom {
        background-color: #0685AA;
        position: relative;
        margin-top: 20px;
        padding: 10px 0;
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            @media(max-width: 768px) {
                flex-direction: column;
                .copyright {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

#backtotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    background-color: #e52620;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: scale(.6);
    transition: all .3s ease;
    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}